@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

.App {
  font-family: 'DM Sans', sans-serif;
  margin: 60px auto;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-header {
  display: block;
  align-items: center;
}

body {
  background: #ffeeee;
  color: #3a2d80;
}

.App h1 {
  text-align: center;
}
