@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

.App {
  font-family: 'DM Sans', sans-serif;
  margin: 0 auto;
  max-width: 960px;
}

.App-header {
  display: block;
  align-items: center;
  margin: 60px auto;
}

body {
  background: #ffeeee;
  color: #363062;
}

.App h1 {
  text-align: center;
}
