.Dictionary section {
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 20px 70px;
}

.Dictionary input {
  width: 100%;
  padding: 10px 15px;
  border: 6px;
  color: #333;
  border: 1px solid #ddd;
}

.Dictionary .hint {
  font-size: 14px;
  margin-top: 15px;
  opacity: 0.7;
}

.Dictionary h1 {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: left;
}
