.Phonetic {
  margin: 20px auto;
}

.Phonetic a {
  color: #a763f6;
  border: 1px solid #ddd;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background-color: #a763f6;
  border: none;
  color: white;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: 700;
}
